.banner-1{
    background: var(--color-background-secundario);
    max-width: 1920px;
    height: 624px;
}

.principal{
    margin-top: 100px;
}

p {
    font-family: var(--fuente-principal);
    font-size: 18px;
    color: var(--color-text);
    padding-top: 5px;
    padding-bottom: 30px;
}
.titulo{
    font-weight: 700;
    font-size: 48px;
    font-family: "Volkhov", serif;
    padding-top: 60px;
  
}
.images{
    width: 41px;
    height: 48px;
    margin-top: 30px;
    margin-left: 35px;
    
}

.span{
    color: var(--color-secundario);
}

.card {
    border: none;
    border-radius: 8px;
    height: 278px;
    width: 365px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.card-title {
    font-family: var(--fuente-principal);
    font-size: 24px;
    font-weight: 600;
    margin-top: 18px;
    margin-left: 15px;
    color: var(--color-title);
    line-height: 34px;
}

.card-text{
    font-family: var(--fuente-principal);
    font-size: 17px;
    margin-top: 8px;
    margin-left: 15px;
    
}